#container{
    width: 6px;
    height: 250px;
  background-color: pink;
    display: flex;
    justify-content: center;
    margin: 0 auto;
   
}
.special {
    border: 1px solid red;
    background-color: red;
    width: 4px;
    height: 100px;
    


}
.special:hover {
    transform: translateY(50%);
    transition-delay: 1s;
    transition-duration: 1s;
}