#container{
    border: solid 1px black;
background-color: black;
color: white;

display: flex;

}
.rect{
    padding: 10px;
    font-size: medium;
}
.rect:hover{
    background-color: green;
}

@media only screen and (max-width:992px){
#container{
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
}
}